{% extends 'header.html' %}

{% block title%}
<title>Country clubs</title>
{% endblock %}

{% block clubs_active %}
clas="navActive"
{% endblock %}

{% block content %}

<div class="content">
<h1>Club Players</h1>
    <h2>{{ club.nom }} Players</h2>
    <table>
        <thead>
            <tr>
                <th>İsm</th>
                <th>Raqam</th>
                <th>Tugilgan Sana</th>
                <th>Maosh</th>
                <th>Narx</th>
                <th>Davlat</th>
                <th>Pozitsiya</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
            <tr>
                <td>{{ player.ism }}</td>
                <td>{{ player.raqam }}</td>
                <td>{{ player.t_sana }}</td>
                <td>{{ player.maosh }}</td>
                <td>{{ player.narx }}</td>
                <td>{{ player.davlat }}</td>
                <td>{{ player.possitsiya }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae soluta
          sequi quia eos cupiditate rerum accusantium odit enim, expedita,
          architecto error dignissimos voluptatibus. Nisi illo, maiores fugit
          amet neque eveniet!
        </p>
      </div>
{% endblock %}