{% extends 'header.html' %}

{% block title%}
<title>Transfer record</title>
{% endblock %}

{% block clubs_active %}
clas="navActive"
{% endblock %}

{% block content %}
<div class="nav">
    <h1>Transfer Records</h1>
    <table>
        <thead>
            <tr>
                <th>Player</th>
                <th>From Club</th>
                <th>To Club</th>
                <th>Transfer Fee</th>
                <th>Estimated Fee</th>
                <th>Season</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transfer in transfers %}
            <tr>
                <td>{{ transfer.player.ism }}</td>
                <td>{{ transfer.club1 }}</td>
                <td>{{ transfer.club2 }}</td>
                <td>{{ transfer.narx }}</td>
                <td>{{ transfer.taxmin_narx }}</td>
                <td>{{ transfer.mavsum }}</td>
                <td>{{ transfer.sana }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        <hr>
        <p>It is a list of the most expensive transfers of all time. The minimum transfer value is 50 million euro.</p>
      </div>
{% endblock %}